.header {
  display: flex;
  flex-direction: row;
  height: 57px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  position: fixed;
  top:0;
  right:0;
  left:0;
  background-color: white;
  border-bottom-width: thin;
  border-bottom-color:rgb(214, 212, 212);
  border-bottom-style: solid;
}

.left-section,.right-section {
  display: flex;
  width: 174px;
  align-items: center;
}

.right-section {
  width: 220px;
  flex-shrink: 0;
}

.notification-count {
 background-color: #cc0000;
 position: absolute;
 right: -6px;
 padding-right: 6px;
 padding-left: 5px;
 padding-bottom: 1px;
 padding-top: 1px;
 top: 2px;
 font-size: 10px;
 color: white;
 font-family: Roboto;
 border-radius: 12px;
 width: 5px;
 font-weight: 200;
 border-style: solid;
 border-width: 2px;
}


.notification-number {
  display: flex;
  position: relative;
  width: 53px;
  height: 30px;
}

.notifications {
  margin-top: 4px;
}

.middle-section {
  flex: 1;
  margin-left: 248px;
  margin-right: 199px;
  display: flex;
  align-items: center;
}

.search-box {
 width: 100%;
 max-width: 364px;
 height: 35px;
 border-style:  solid ;
 border-width: 1px;
 border-color: #cccccc;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 padding-left: 10px;
 font-size: 16px;
}

.search-box::placeholder {
  font-size: 16px;
  color: rgb(113, 111, 111);
  font-weight: 400;
  font-family: Roboto;
}

.humberger {
  height: 25px;
  margin-left: 24px;

}

.youtube-logo {
  width: 93px;
  margin-bottom: 3px;
  margin-left: 24px;
  }

.search-icon {
  height: 23px;
  margin-left: 14px;
}

.search-button {
 padding: 7px;
 padding-right: 18px;
 padding-left: 7px;
 border-style:  solid ;
 border-width: 1px;
 border-color: #cccccc;
 border-top-right-radius: 2px;
 border-bottom-right-radius: 2px;
 position: relative;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute; 
  background-color: rgb(150, 150, 150); 
  color: white;
  padding-top: 4px;
  padding-left:8px;
  padding-right: 8px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}


.search-button,
.voice-button,
.upload-icon-container,
.apps-icon-container,
.notification-icon-container {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}

.upload-icon-container .tooltip
 {
  left: 4px;
}

.apps-icon-container .tooltip,
.notification-icon-container .tooltip {
  margin-left: 25px;
}
.voice-search {
  height: 21px;
  width: 23px;
  object-fit: cover;
}

.voice-button {
  margin-left: 6px;
  padding: 6px;
  border-radius: 100px;
  border: none;
  position: relative;
}

.create-video,
.youtube-apps,
.notifications
 {
  height: 25px;
  margin-left: 12px;
}

.youtube-apps,
.notifications {
  margin-left: 22px;
}
.profile-dp {
  border-radius: 50px;
  width: 31px;
  margin-left: 17px;
}

.sidebar {
 position: fixed;
 background-color: white;
 top: 60px;
 bottom: 0;
 left: 0;
 width: 72px;
}

.sidebar-link {
  height: 76px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.sidebar-link:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.icon {
  height: 24px;
  margin-top: 13px;
}

.icon-text {
  font-size: 10px;
  margin-top: 4px;
}
